
*.pyc

C/Cinput/\.vscode/
.vscode/

C/Cinput/cinput\.o

C/Cinput/InputExample/Example

C/Cinput/InputExample/Example\.o

C/ASCII/ascii\.o

C/Cinput/ini\.o

C/Cinput/Example

C/Cinput/Example\.o

C/Cinput/lib/ini\.o

C/Cinput/lib/ascii\.o

C/Cinput/lib/cinput\.o
C/MyCTools/MyCTools.o
C/MyCTools/MyCTools_test.o
C/MyCTools/MyCTools_test
